---
import { Link } from '@/components/ui/button';
import { HugeiconsIcon } from '@hugeicons/react';
import { Sent02Icon } from '@hugeicons/core-free-icons';

import { EMAIL, SOCIALS } from '@/lib/socials';
---

<section id="contact" class="relative py-20 md:py-32">
  <div class="mx-auto max-w-4xl px-4 text-center sm:px-6 lg:px-8">
    <h2 class="text-foreground mb-4 text-3xl font-bold tracking-tight md:text-4xl">Get in Touch</h2>
    <p class="text-muted-foreground mx-auto mb-8 max-w-lg text-lg">
      Have a project in mind or just want to say hi?
      <br />
      I'd love to hear from you.
    </p>

    <div class="mb-12">
      <Link
        size="lg"
        className="gap-2"
        href={`mailto:${EMAIL}`}
        animation="scale"
        aria-label="Send me an email"
      >
        Send me an email
        <HugeiconsIcon icon={Sent02Icon} className="size-5" data-icon="inline-start" />
      </Link>
    </div>
    <p class="text-muted-foreground mx-auto mb-8 max-w-lg text-lg">
      You can find me or see my work on the following platforms:
    </p>
    <div class="flex items-center justify-center gap-4">
      {
        SOCIALS.map((social) => (
          <a
            href={social.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`Follow on ${social.name}`}
            class="text-muted-foreground hover:text-foreground hover:bg-muted rounded-full p-3 transition-colors"
          >
            <HugeiconsIcon icon={social.icon} className="size-6" />
          </a>
        ))
      }
    </div>
  </div>
</section>
